.team-bg {

    background: #f4f4fd;
}

.card {
    background: #fff;

}

.card-txt {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
}

.op-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}